@media (prefers-color-scheme: dark) {
    ion-header {
        --background: #0b192f;
    }
    ion-toolbar {
        --background: #0b192f;
    }
}

@media (prefers-color-scheme: light) {
    ion-header {
        --background: #FFFFFF;
    }
    ion-toolbar {
        --background: #FFFFFF;
    }
}

ion-content {

    .main__wrapper {

        display: flex;
        max-width: 600px;
        margin: auto;
        flex-direction: column;
        height: 100%;

        .title {
            padding: 10px;
            h1 {
                margin: 0px 0px 10px 0px;
                font-weight: 700;
            }
        }
        
        // .register_card {
        //     display: flex;
        //     flex-direction: column;
        //     padding: 0 10px 20px 10px;

        //     h1 {
        //         margin: 0 0 10px 0;
        //     }

        //     p.benefits {
        //         font-style: normal;
        //         font-weight: 400;
        //         font-size: 0.9em;
        //         line-height: 24px;
        //         margin: 0 0 16px 0;
        //     }
        // }

        .card {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            background: var(--ion-card-background);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
            border-top-right-radius: 30px;
            border-top-left-radius: 30px;
            padding: 10px;

            form {
                margin-top: 20px;
                width: 100%;

                p.error {
                    margin-top: 0;
                    margin-bottom: 5px;
                    text-align: center;
                    color: #FF0000;
                }

                ion-item {
                    margin-bottom: 15px;

                    &::part(native) {
                        border-radius: 20px;
                    }
                }

                ion-button {
                    --background: #f0b400;
                    color: #1b1b1b;
                }

                .bottom {
                    display: flex;
                    justify-content: center;
                    margin-top: 22px;

                    p {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 0.9em;
                        line-height: 24px;
                        margin: 0;
                    }

                    .register {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 0.9em;
                        line-height: 24px;
                        color: #f0b400;
                        margin-left: 5px;
                    }
                }
            }
        }

        @media(prefers-color-scheme: light) {
            .card {
                background-color: #ededed;
                box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);

                form {
                    .stopchingInput {
                        --background: #d1d1d1;
                        --color: #000000;
                    }
                }
            }
        }

    }

    ion-button {
        height: 50px;
    }
}