<ion-header>
  <ion-toolbar>
    <ion-item lines="none" style="--background: transparent;">
      <ion-thumbnail slot="start" style="margin: 0px 8px 0px 0; --border-radius: 10px;">
        <img src="{{ episode.anime.imagen }}" />
      </ion-thumbnail>
      <ion-label>
        <h1 style="font-size: larger;
        font-weight: 600;">Calidades</h1>
        <h2>{{ embedName }}</h2>
        <h2>{{ episode.anime.nombre }}</h2>
        <p>Episodio {{ episode.numero }}</p>
      </ion-label>
    </ion-item>

    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" color="primary">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list style="padding: 0;">
    <div *ngFor="let video of videos">
      <ion-item *ngIf="video.kind == 'video'" detail="true" class="animate__animated animate__fadeIn animate__faster" lines="full" button (click)="playVideo(video)">
        {{video.label}}
      </ion-item>
    </div>
  </ion-list>
</ion-content>