<ion-header>
  <ion-toolbar>
    <ion-title>Descubre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides [options]="sliderOpts">
    <ion-slide>
      <ion-chip>
        <ion-label>Amigos</ion-label>
      </ion-chip>
    </ion-slide>
    <ion-slide>
      <ion-chip>
        <ion-label>Eventos</ion-label>
      </ion-chip>
    </ion-slide>
    <ion-slide>
      <ion-chip>
        <ion-label>Grupos</ion-label>
      </ion-chip>
    </ion-slide>
    <ion-slide>
      <ion-chip>
        <ion-label>Noticias</ion-label>
      </ion-chip>
    </ion-slide>
  </ion-slides>

</ion-content>
