.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: logoAnimation 1s ease-in-out alternate-reverse infinite;

    ion-img {
        width: 150px;
        height: auto;
    }

    h2 {
        font-weight: bold;
    }

    @keyframes logoAnimation {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.1);
        }
    }
}