ion-content {

    ion-card {

        border-radius: 15px;

        form {
            ion-item {
                margin-bottom: 15px;
        
                &::part(native) {
                    border-radius: 20px;
                }
            }
        }
    }

}