<ion-header>
  <ion-toolbar>
    <ion-title>Políticas de AnimeMac</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Términos y Condiciones</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Nosotros no alojamos ningún archivo multimedia en esta aplicacion.
      <br>
      <br>
      No estamos asociados con la lista de contenidos que se encuentran en servidores remotos. No tenemos conexión o asociación con dicho contenido. Los archivos mp4, avi, mkv que están disponibles para descargar no están alojados en AnimeMac y están alojados en otros servidores (por lo tanto, no en nuestro servicio de hosting). Cada archivo en AnimeMac es solo para escuchar la investigación.
      <br>
      <br>
      Esta aplicación (AnimeMac) funciona como un motor de búsqueda de películas y no almacena ni aloja ningún archivo u otro material con derechos de autor. Seguimos las leyes de derechos de autor, pero si encuentra resultados de búsqueda que considera ilegales, se le pide que complete el formulario y envíe un correo electrónico contacto@animemac.com.
      <br>
      <br>
      De hecho, nos adherimos a los derechos de los productores y artistas. Le aseguramos que su trabajo será seguro y legal, lo que resultará en una experiencia positiva para cada uno de ustedes, ya sea que sea un creador o un artista musical. Tenga en cuenta que si alguna persona, a sabiendas o intencionalmente, tergiversa cualquier material o actividad enumerada en la Sección 512 (f), se consideraría una violación de la ley de derechos de autor. Entonces, si lo hace, es responsable de su propio daño. Pero tenga en cuenta una cosa: ¡no haga ninguna afirmación falsa sobre el contenido infringido!
      La información completa contenida en el aviso legal también se puede enviar a la parte interesada proporcionando el contenido que se está infringiendo.
    
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Aviso Legal</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      AnimeMac está de acuerdo con 17 USC § 512 y la Digital Millennium Copyright Act (“DMCA”). Es nuestra política responder a cualquier notificación de infracción y tomar las acciones apropiadas bajo la Digital Millennium Copyright Act (“DMCA”) y otras leyes de propiedad intelectual aplicables.
      <br>
      <br>
      1. Los enlaces que figuran en esta aplicación y página web han sido encontrados en páginas de la índole de https://youtube.com/, https://www.fembed.com/, https://mega.nz/, https://ok.ru/, https://my.mail.ru/, https://hqq.tv/, https://www.yourupload.com/, https://www.mp4upload.com/, https://www.burstcloud.co/, https://content-na.drive.amazonaws.com/, https://content-eu.drive.amazonaws.com/, https://srv3.fireload.com/, https://viewsb.com/, https://uqload.com/, https://embed.mystream.to/, https://dood.to/, https://fastplay.to/. Y desconocemos si los mismos tienen contratos de cesión de derechos sobre estos videos para reproducirlos, alojarlos o permitir su descarga. 
      <br>
      <br>
      2. Todas las marcas aquí mencionadas y logos están registrados por sus legítimos propietarios y solamente se emplean en referencia a las mismas y con un fin de cita o comentario, de acuerdo con el articulo 32 LPI.
      <br>
      <br>
      3. No nos hacemos responsables del uso indebido que puedas hacer del contenido de nuestra aplicación AnimeMac.
      <br>
      <br>
      4. En ningún caso o circunstancia se podrá responsabilizar directamente o indirectamente al propietario ni a los colaboradores del ilícito uso de la información contenida en AnimeMac.
      <br>
      <br>
      5. Así mismo tampoco se nos podrá responsabilizar directamente o indirectamente de incorrecto uso o mala interpretación que se haga de la información y servicios incluidos. Igualmente quedara fuera de nuestra responsabilidad el material al que usted pueda acceder desde nuestros enlaces.
      <br>
      <br>
      6. Si en tu país, este tipo de aplicaciones están prohibidas, tú y solo tú eres el responsable de la entrada a AnimeMac.
      <br>
      <br>
      7. Si decides permanecer en AnimeMac, quiere decir que has leído, comprendido y aceptas las condiciones de esta página.
      <br>
      <br>
      8. Todo el contenido ha sido exclusivamente sacado de sitios públicos de Internet, por lo que este material es considerado de libre distribución. En ningún artículo legal se menciona la prohibición de material libre por lo que esta aplicación (AnimeMac) no infringe en ningún caso la ley. Si alguien tiene alguna duda o problema al respecto, no dude en ponerse en contacto con nosotros.
      <br>
      <br>
      9. Todo la información y programas aquí recogidos van destinados al efectivo cumplimiento de los derechos recogidos en el artículo 31 RD/1/1996, por el que se aprueba el texto refundido de la Ley de la Propiedad Intelectual (LPI) en especial referencia al artículo 31.2 LPI, y en concordancia con lo expresado en el artículo 100.2 de esta misma ley.
      <br>
      <br>
      10. Nos reservamos el derecho de vetar la entrada a cualquier sujeto a nuestra aplicación (AnimeMac) y a su vez se reserva el derecho de prohibir el uso de cualquier programa y/o información, en concordancia con los derechos de autor otorgados por el artículo 14 LPI.
      <br>
      <br>
      11. La visita o acceso a esta aplicación (AnimeMac), que es de carácter privado y no público, exige la aceptación del presente aviso. En esta aplicación se podrá acceder a contenidos publicados por https://youtube.com/, https://www.fembed.com/, https://mega.nz/, https://ok.ru/, https://my.mail.ru/, https://hqq.tv/, https://www.yourupload.com/, https://www.mp4upload.com/, https://www.burstcloud.co/, https://content-na.drive.amazonaws.com/, https://content-eu.drive.amazonaws.com/, https://srv3.fireload.com/, https://viewsb.com/, https://uqload.com/, https://embed.mystream.to/, https://dood.to/, https://fastplay.to/. Estas páginas web son plenamente responsables de los contenidos que publiquen.
      <br>
      <br>
      Por consiguiente, AnimeMac ni aprueba, ni hace suyos los productos, servicios, contenidos, información, datos, opiniones archivos y cualquier clase de material existente en https://youtube.com/, https://www.fembed.com/, https://mega.nz/, https://ok.ru/, https://my.mail.ru/, https://hqq.tv/, https://www.yourupload.com/, https://www.mp4upload.com/, https://www.burstcloud.co/, https://content-na.drive.amazonaws.com/, https://content-eu.drive.amazonaws.com/, https://srv3.fireload.com/, https://viewsb.com/, https://uqload.com/, https://embed.mystream.to/, https://dood.to/, https://fastplay.to/ y otras páginas web que use esta aplicacion (AnimeMac).
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="deny()">Denegar</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="accept()">Aceptar</ion-button>
    </ion-buttons>
  </ion-toolbar>


</ion-footer>
