<ion-header>
  <ion-toolbar lines="none">
    <ion-title>{{ modalTitle }}</ion-title>

    <ion-buttons slot="end">

      <ion-buttons slot="end">
        <ion-button shape="round" [disabled]="fetchingComments || comments == 0" (click)="openSortPopover($event)" color="primary">
          <ion-icon slot="start" name="filter-outline"></ion-icon>
          Orden
        </ion-button>
      </ion-buttons>
  
      <ion-popover #sortPopover [isOpen]="isSortPopoverOpened" (didDismiss)="isSortPopoverOpened = false">
        <ng-template>
          <ion-item lines="full" button (click)="sort('-created_at')" [disabled]="sortName == '-created_at'">
            <ion-label>Más recientes</ion-label>
            <ion-checkbox slot="end" [checked]="sortName == '-created_at'"></ion-checkbox>
          </ion-item>
          <ion-item lines="full" button (click)="sort('created_at')" [disabled]="sortName == 'created_at'">
            <ion-label>Menos recientes</ion-label>
            <ion-checkbox slot="end" [checked]="sortName == 'created_at'"></ion-checkbox>
          </ion-item>
        </ng-template>
      </ion-popover>

      <ion-button color="primary" (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-progress-bar *ngIf="fetchingComments" type="indeterminate" style="--background: transparent !important; border-radius: 50px;"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="toggleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-chip button="false" class="infoChip" *ngIf="commentsType === 'anime' && anime.nombre != null">{{ anime.nombre }}</ion-chip>
  <ion-chip button="false" class="infoChip" *ngIf="commentsType === 'episode' && episode.anime != null">{{ episode.anime.nombre }} - Episodio {{ episode.numero }}</ion-chip>

  <ion-list style="background: transparent" *ngIf="comments.length > 0">
    <ion-card *ngFor="let comment of comments" class="animate__animated animate__fadeIn animate__faster">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="{{ domain }}{{ comment.user.user_extra.avatar }}">
        </ion-avatar>
        <ion-label>
          <h2 *ngIf="comment.user.is_active">{{ comment.user.username }}</h2>
          <h2 *ngIf="!comment.user.is_active">{{ comment.user.username }} <span style="color: #c23400">(Baneado)</span></h2>
          <p style="color: rgb(0, 205, 161)" *ngIf="comment.user.groups.includes('Moderator') && !comment.user.is_staff && !comment.user.is_superuser">Mod</p>
          <p style="color: #f0b400" *ngIf="comment.user.groups.includes('VIP') && !comment.user.groups.includes('Moderator') && !comment.user.is_staff && !comment.user.is_superuser ">VIP</p>
          <p style="color: rgb(0, 140, 255)" *ngIf="comment.user.is_staff && !comment.user.is_superuser">Admin</p>
          <p style="color: rgb(255, 77, 0)" *ngIf="comment.user.is_superuser">Super Admin</p>
          <p>{{ utils.dateAgo(comment.created_at) }}</p>
        </ion-label>

        <ion-buttons slot="end" *ngIf="isLogged">
          <ion-button shape="round" *ngIf="user.is_staff || user.groups.moderator" (click)="openModeration(comment)" fill="clear" color="primary">
            <ion-icon name="shield-half-outline"></ion-icon>
          </ion-button>
          <ion-button shape="round" fill="clear" color="primary" *ngIf="comment.user.id == user.id" (click)="toggleCommentNotifications(comment)">
            <ion-icon name="notifications-outline" *ngIf="!comment.notifications"></ion-icon>
            <ion-icon name="notifications" *ngIf="comment.notifications"></ion-icon>
          </ion-button>
  
          <ion-button shape="round" (click)="openCommentOptions(comment)" fill="clear" color="primary">
            <ion-icon name="ellipsis-vertical"></ion-icon>
          </ion-button>
        </ion-buttons>

      </ion-item>

      <ion-card-content>

        <p style="color: #c23400" *ngIf="!comment.user.is_active">
          [ Este comentario esta oculto porque el usuario ha sido baneado ]
        </p>

        <p style="color: #cd8c00" *ngIf="(comment.reports == 2 || comment.reports == 3 || comment.reports == 4) && comment.user.is_active" (click)="uncensorComment(comment)">
          [ Comentario con {{ comment.reports }} denuncias, clic si quieres verlo igualmente ]
        </p>

        <p style="color: #c23400" *ngIf="comment.reports >= 5 && comment.user.is_active" (click)="showDeletedComment(comment)">[ Este comentario ha sido eliminado por muchas denuncias ]</p>

        <p *ngIf="(comment.reports == 0 || comment.reports == 1) && comment.user.is_active">{{ comment.comment }}</p>

      </ion-card-content>

      <div class="buttons">

        <ion-button fill="clear" (click)="openReplies(comment)" *ngIf="comment.replies > 0">
          <ion-icon slot="start" name="chatbox-ellipses-outline"></ion-icon>
          Abrir respuestas ({{ comment.replies }})
        </ion-button>

        <ion-button fill="clear" (click)="openReplies(comment)" *ngIf="comment.replies == 0">
          <ion-icon slot="start" name="chatbox-ellipses-outline"></ion-icon>
          Responder
        </ion-button>
      </div>
    </ion-card>
  </ion-list>

  <ion-infinite-scroll #InfiniteScrollComments (ionInfinite)="loadMoreComments($event)">
    <ion-infinite-scroll-content
      loadingSpinner="dots">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


  <div class="centerInfo" *ngIf="comments.length == 0">

    <ion-spinner color="primary" name="circular" *ngIf="firstSearch"></ion-spinner>

    <ion-icon name="chatbubbles-outline" *ngIf="!firstSearch && comments.length == 0 && isLogged"></ion-icon>
    <p *ngIf="!firstSearch && comments.length == 0 && isLogged">No hay comentarios, ¡se el primero en comentar!</p>

    <ion-icon name="log-in-outline" *ngIf="!firstSearch && comments.length == 0 && !isLogged"></ion-icon>
    <p *ngIf="!firstSearch && comments.length == 0 && !isLogged">Inicia sesión para comentar</p>
  </div>



</ion-content>

<ion-footer>
  <ion-toolbar>

    <form [formGroup]="formComment" (ngSubmit)="sendComment()" *ngIf="(isLogged && !commentsDisabled) || (isLogged && user.is_staff)">
      <ion-item>
        <ion-avatar slot="start">
          <img src="{{ profileImage  }}">
        </ion-avatar>
        <ion-input maxlength="300" autocorrect spellcheck inputmode="text" autocapitalize="sentences" formControlName="comment" [disabled]="firstSearch || updating" placeholder="Comentar como {{ user.username }}..."></ion-input>
        <ion-buttons slot="end">
          <ion-button shape="round" [disabled]="!formComment.valid" color="primary" type="submit">
            <ion-icon name="send"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </form>

    <ion-item *ngIf="!isLogged">
      <ion-avatar slot="start">
        <img src="assets/icon/avatar.svg">
      </ion-avatar>
      <ion-input [disabled]="!isLogged" placeholder="Inicia sesión para comentar..."></ion-input>
      <ion-buttons slot="end">
        <ion-button [disabled]="!isLogged" color="primary">
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item *ngIf="isLogged && !user.is_staff && commentsDisabled">
      <ion-avatar slot="start">
        <img src="{{ profileImage }}">
      </ion-avatar>
      <ion-input [disabled]="isLogged && !user.is_staff && commentsDisabled" placeholder="Comentarios deshabilitados..."></ion-input>
      <ion-buttons slot="end">
        <ion-button [disabled]="isLogged && !user.is_staff && commentsDisabled" color="primary">
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <!-- input para escribir el comentario -->
    <!-- <ion-input placeholder="Escribe un comentario"></ion-input>

    <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
