<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/tablinks/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let p of products" (click)="purchase(p)" detail="false">
      <ion-label>
        <h2>{{ p.title }}</h2>
        <p>{{ p.description }}</p>
      </ion-label>
      <ion-note slot="end" color="primary">{{ p.price }} {{ p.currency }}</ion-note>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="cero_ads_user">
    <ion-label>
      <h2>No tienes anuncios</h2>
      <p>Has comprado la suscripción</p>
    </ion-label>
  </ion-item>

</ion-content>
